[33mcommit 1c7635ee23986a517ebee550197a79dc9146f6ae[m
Author: HP-15B <udodvd@mail.ru>
Date:   Wed Dec 21 19:29:13 2016 +0200

    init styles added

[33mcommit 9815ef855003c36836c2384e08c5a8d9fb7a12f0[m
Author: udodvd <udodvd@mail.ru>
Date:   Mon Dec 19 19:23:44 2016 +0200

    commit no5

[33mcommit 5e90b2567304957db9cbcf3847434f9cebdabe61[m
Author: udodvd <udodvd@mail.ru>
Date:   Mon Dec 19 19:01:05 2016 +0200

    lerning commit number3

[33mcommit eef1b184f09d171f7cd3b387ef4630e6b7c5e3a4[m
Author: udodvd <udodvd@mail.ru>
Date:   Wed Dec 14 21:23:57 2016 +0200

    changed index.html whis new function for autorization

[33mcommit 0caff37d204483824ed5a5f3669138c0446a11df[m
Author: udodvd <udodvd@mail.ru>
Date:   Wed Dec 14 21:14:51 2016 +0200

    init project
